/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header section style */
.header-section {
    height: 600px;
    width: 1280px;
    margin-top: 20px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    /* background-image: url(../images/Banner\ Image.png); */
    background: linear-gradient(to bottom, #000000a0, #0808081d), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first-heading {
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
}

.small-heading {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
}


/* main section style */
.discount-section {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-year-img {
    width: 802.9px;
    height: 500px;
}

.sec-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 85px;
    font-weight: 700;
    margin: 0px 300px;
    /* background-image: url(../images/New\ Year\ Photo.png); */
}

.small-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 26px;
}

.third-heading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 55px;
}

.midnight-party {
    background: linear-gradient(to right, #000000bc, #0808087e), url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 1280px;
    margin: 110px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
}

.party-section {
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.party-description {
    color: rgba(255, 255, 255, .80);
    font-family: Inter;
    font-size: 20px;
    font-weight: 480;
    margin-top: 25px;
    ;
}

.btn-join {
    margin-top: 20px;
    padding: 15px 20px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
}

/* event detail style */
.event {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 1280px;
    display: flex;
    gap: 40px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
}

.event-detail {
    color: #070211;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
}

.btn {
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    max-width: fit-content;
    margin: 0 auto;
    background-color: #f00;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.title-span {
    color: #f00;
}

/* gift section style */
.gift corner {
    height: 400px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.gift-detail {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.smallest-heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}


/* subscription-section style */
.subscription-section {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0.00));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 550px;
    margin: 15px 0;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    margin-top: 40px;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 35px;
}

.gmail-img {
    width: 150px;
    height: 150px;
}

.sub-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.newsletter-field {
    display: flex;
    gap: 0;
    margin-top: 40px;
    border-color: transparent;
}

.input-field {
    width: 350px;
    height: 69px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none ;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}

.submit-btn{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border: none ;
    text-transform: capitalize;
}





/* footer style */
footer {
    background-color: black;
    width: 100%;
    margin-top: 60px;
    padding: 100px 0;
}

.information {
    display: flex;
    justify-content: start;
    align-items: center;

}

.footer-parent-section {
    width: 1280px;
    background-color: black;
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.contact {
    align-items: end;

}